
@{
    ViewBag.Title = "关于 - 象空";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row" style="padding-top: 15px;">
    
</div>
<div class="row">
    <div class="col-md-12 text-center" style="font-size: 24px; font-family: 'Microsoft YaHei';font-weight: 600;padding-top: 20px">
        <p><a href="https://github.com/objnullcom/objnull" target="_blank">面朝大海，对象为空</a></p>
    </div>
</div>
