@using MVCWeb.Model.Models;
@{
    ViewBag.Title = ViewBag.GID + "的简历";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    Resume Resume = ViewBag.Resume;
}
@section head{
    <!--Page-->
    <script src="~/Scripts/Views/ResumeSee.js"></script>
}
<div class="row" style="height: 50px; line-height: 50px">
    <div class="col-md-12 text-right">
        @if (ViewBag.Edit)
        {
            <a class="btn btn-primary" href="@Url.Action("Edit", "Resume")">编辑</a>
        }
        @if (ViewBag.See && Resume != null)
        {
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <a class="btn btn-success" id="BtnPDF" href="@Url.Action("HtmlToPdf", "File", new { uid = Resume.UserID })">PDF</a>
        }
    </div>
</div>
<div id="BoxPDF" style="width: 840px; padding: 20px; margin: 0px auto; background-color: #fff; border: 1px solid #999999">
    <div class="row" style="padding-top: 15px">
        <div id="MDValue" class="col-md-12 mdv">
            @if(!ViewBag.See)
            {
                <span>简历未公开</span>
            }
            else
            {
                @Html.Raw(Resume == null ? "还没有编辑简历" : Resume.Html)
            }
        </div>
    </div>
</div>

